*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    background-color: aliceblue !important;
}

.container-fluid{
    display: flex !important;
    justify-content: space-around !important;
}

.hii{
    border: .2px solid black;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_reg input{
    width: 300px;
    height: 40px;
}

.login_reg p{
    font-size: 13px;
}

.form-control1{
    width: 370px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: .2px solid black;
    border-left: none;
}

::placeholder{
    position: relative;
    left: 30px;
}

.lang_btn{
    background: none;
    color: black;
}

.header_right{
    display: flex;
}

.nav2{
    background-color: black !important;
}

.header-2{
    display: flex;
    justify-content: start !important;
    gap: 50px;
    margin-left: 150px;
    background-color: black;
    color: white;
    height: 40px;
}

.loc{
    margin-right: 100px;
}

.bg1{
    height: 600px;
    width: 100%;
    background-image: url(images/landing-page-banner-8-15931.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.findcar{
    width: 350px;
    height: 450px;
    border: 1px solid black;
    position: relative;
    right: -1000px;
    top: 80px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.fcbtn button{
    padding: 10px;
    width: 120px;
    background-color: darkblue;
    color: white;
    border-radius: 7px;
    border: none;
}

.radio-bt{
    display: flex;
}

.select-budget{
    width: 250px !important;
    height: 45px;
}

.select{
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#findbtn{
    padding: 10px;
    width: 240px;
    background-color: #F75D34;
    color: white;
    border: none;
    border-radius: 8px;
}

.upperanchor a{
    padding: 13px;
    transform: skew(-26deg, 0deg);
    text-align: center;
}

.upperanchor a::after{
    background: none repeat scroll 0 0 transparent;
}

.upperanchor a:hover{
    background-color: blue;
}

.sec2{
    height: 520px;
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
    box-shadow: 5px 5px 25px gray;
}

.sec2 ul{
    display: inline-flex;
    gap: 40px;
    list-style: none;
    margin-top: 20px;
}

#suv,#hatchback,#sedan,#muv,#lux{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding-bottom: 80px;
}

.sec2 ul li{
    color: #323232;
    font-weight: bold;
    position: relative;
    outline: none !important;
    text-transform: uppercase;
    transition: 0.2s;
    cursor: pointer;
}

.sec2 ul li::after{
    content: "";
    background-color: black;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.2s;
}

.sec2 ul li:hover:after { 
    background-color: #4c2be2;
    width: 100%;
}

@media screen and (max-width: 380px) {

    .container-fluid {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navbar,
    .nav2,
    .header-2 {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
        gap: 10px;
    }

    .login_form {
        flex-direction: column;
        align-items: center;
    }

    .login_reg input,
    .form-control1 {
        width: 90%;
        height: 35px;
        font-size: 14px;
    }

    .findcar {
        width: 90%;
        height: auto;
        padding: 20px;
        position: static;
        margin-top: 20px;
    }

    .select-budget,
    #findbtn {
        width: 90%;
        height: 40px;
    }

    .sec2 ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding: 0;
    }

    #suv, #hatchback, #sedan, #muv, #lux {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px 10px;
        gap: 20px;
    }

    footer ul {
        align-items: center;
    }

    .icons {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .upperanchor a {
        padding: 8px;
        font-size: 12px;
    }

    .radio-bt {
        flex-direction: column;
        gap: 10px;
    }
}

footer{
    height: 540px;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 60px;
    padding-top: 30px;
    background-image: url(images/footer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 25px gray;
    padding-left: 20px;
}

footer ul{
    display: flex;
    flex-direction: column;
    color: #ECEDED;
}

footer ul li{
    color: rgb(236,237,237);
    font-size: 10px;
}

.icons{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.icons svg:hover{
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.3s ease ;
}

.nav-right a{
    text-decoration: none;
}

.nav-right a:hover{
    text-decoration: none;
    color: purple;
}
